@charset "utf-8";

* { margin: 0;
	padding: 0;


	 }




#wrapper {
			width: 940px;
			margin: 50px auto 20px auto;
			background-color: #ffffff;
}

#wrapper1 {
			width: 940px;
			margin: 20px auto 20px auto;
			background-color: #ffffff;
}


#header {
		background-color: #20c997;
		padding: 1px;
		height: 100px;




}
#header h1 {
			margin-top: 45px;
			font-family: algerian;
			margin-bottom: 10px;
   				min-height: 36px;
   				line-height:10px;

}


#menu { margin-top: 0px;
		background-color: #555555;
		overflow: hidden;


		}
#menu li {float: right;
		  padding: 8px 10px;
		  border-right: 1px solid #ffffff;
		  border-left: 1px solid #ffffff;
		  background-color: #555555;
		  list-style: none;
}

#menu a {color: #ffffff;
		 text-decoration: none;

}

#menu form{
		margin-top: 10px;
		margin-left: 10PX;

 }


body { margin:0 10% 0 10%;
		background-color: #666666;


}

body1 { margin:0 10% 0 10%;
		background-color: #666666;


}

#content {
			padding: 20px;
			margin-bottom: 1px;
			overflow: hidden;
			position: relative;
			background-color: #ffffff;
			margin-left: 10px;


}

#content1 {
			padding: 10px;
			margin-bottom: 1px;
			overflow: hidden;
			position: relative;
			background-color: #ffffff;
			margin-left:10px;
		}


#artikel h2 {
			text-align: center;
			margin-top: 3%;
			margin-bottom: 6%;}

#artikel {
				background-color: #f0f0f0;

				width: 600PX;
				height: 700px;
				float: left;

				padding-bottom: 10px;
}





.isi 	{

			background-image: url(images/xxxc.png);
			padding:10px;
			margin-bottom:2px;
			overflow:hidden;
}

.isi a { color: blue;
			  text-decoration: none;

}

.isi h3 {
			font-family: serif;
			font-size: 16pt;
			font-weight: lighter;
}

.isi h4 {
			font-size: 12pt;
			font-family: serif;
			font-weight: lighter;
			margin-right: 30px;
			text-align: justify;


}

.isi h5 {
			font-size: 12pt;
			font-weight: bolder;
				margin-top: 13px;


}

.isi p {

			font-size: 15pt;
			font-family: sans-serif;
			font-weight: bold;
			margin-top: 15PX;
			padding-top: 15PX;
			text-align: center;
}
#footer {
			width: 100%;
			height: 60px;
			background-color: #666666;
			padding: 5px;
			margin: 20px 0;
			clear: both;

		}

#footer h3 {
			text-align: center;
			font-family: tahoma;
			color: white;
			margin-top: 10px;




}


#sidebar {
			width: 100%;
			height: 200px;
			background-color: #f0f0f0;



}

#sidebar h3 {
			  font-family: arial;
			  font-size: 14pt;
			  margin-bottom: 20px;
			  margin-top: 70px;
			  text-align: center;
}

#sidebar p{
			line-height: 18px;
			color: #636363;
			font-weight: lighter;
			margin-left: 65%;
			font-family: tahome;
			font-size: 12pt;

			}

#sidebar li  {

			 font-weight: lighter;
			margin-left: 700px;
			font-family: tahome;
			font-size: 12pt;
			padding-bottom: 10px;


		}
#sidebar a  {

			text-decoration: none;
			color: #636363;

}

#next-artikel {
				background-color: #f0f0f0;
				line-height: 20px;
				width: 1000PX;
				height: 2000px;
				float: left;
				text-align: justify;
				padding-bottom: 10px;
				font-size: 11pt;


				}

.gambar {

				align-content: center;
				align-items: center;
				margin-left: 200px;
}

.isi1 	{

			background-image: url(images/xxxc.png);
			padding:10px;
			margin-bottom:2px;
			overflow:hidden;
		}

		#next-artikel1 {
						background-color: #f0f0f0;
						line-height: 20px;
						width: 1000PX;
						height: 2000px;
						
						text-align: justify;
						padding-bottom: 10px;
						font-size: 11pt;
